<?xml version="1.0" encoding="utf-8"?>
 <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.xchg.branch"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Sample</name>

    <description>
        To test phonegap build. 
    </description>

    <preference name="phonegap-version" value="2.1.0" />
	<!--  
	access elements control the Android whitelist.  
	Domains are assumed blocked unless set otherwise
	 -->

    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->

	<!-- <access origin="https://example.com" /> allow any secure requests to example.com -->
	<!-- <access origin="https://example.com" subdomains="true" /> such as above, but including subdomains, such as www -->
	<!-- <access origin=".*"/> <access origin="http://localhost:8080/jboss-as-kitchensink-html5-mobile"/>  Allow all domains, suggested development use only -->
	<!--<access origin="http://poh5-aerogear.rhcloud.com"/> --><!-- Allow access to cloud hosted services -->
	 <access origin="http://uat.money2anywhere.com"/>  
     <access origin="http://maps.google.com"/>
 
<!-- to enable individual permissions use the following examples -->
<feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

</widget> 


